---
title: Blog
layout: default
permalink: /en/blog/
ref: blog
lang: en
---
{% include breadcrumbs.html %}

<h1>Blog</h1>
<br>
<div style="
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 20px;
">
{% assign sortnews = site.blogi | where: "lang", page.lang | sort:"submitted" | reverse %}
{% for blogi in sortnews %}
    <div
        class="card"
        style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        "
    >
        <div class="card-body">
            <a href="{{ site.baseurl }}{{ blogi.url }}">
                <div style="
                    height: 180px;
                    background-image: url('/img/blogi/{{blogi.preview_img}}');
                    background-size: cover;
                    border-radius: .25rm;
                    border: 2px solid #dee2e6;
                "></div>
            <h3>{{blogi.news_title}}</h3></a>

            <p class="text_control">{{ blogi.preview }}<a href="{{ site.baseurl }}{{ blogi.url }}"> Read more... </a></p>

        </div>
        <div class="card-footer text-muted">
             Added by {{ blogi.author }} on {{ blogi.submitted | date: "%d/%m/%Y" }}
        </div>
    </div>
{% endfor %}

</div>
