---
title: Blog
layout: default
permalink: /en/blog/
ref: blog
lang: en
---
{% include breadcrumbs.html %}

<h1>Blog</h1>
<div>
    {% assign sortnews = site.blogi | where: "lang", page.lang | sort:"submitted" | reverse %}
    {% for blogi in sortnews %}
  <div>
        <h3>{{ blogi.news_title }}</h3>
        <p class="text-muted">Added by {{ blogi.author }} {{ blogi.submitted | date: "%d/%m/%Y" }}</p>
        <div class="text_control">{{ blogi.preview }}</div>
        <p><a href="{{ site.baseurl }}{{ blogi.url }}"> Read more </a></p>
      </div>
{% endfor %}
</div>
