---
title: Rakendused
layout: default
permalink: /rakendused/
ref: apps
lang: et
---
{% include breadcrumbs.html %}

<h1>Rakendused</h1>
<br>

<div style="
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 20px;
">

    {% assign sortapps = site.applications | sort:"submitted" | reverse %}
    {% for application in sortapps %}

    <div
        class="panel panel-default"
        style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        "
    >
        <div class="panel-body">
            <a href="{{ application.app_url }}">
                <div style="
                    height: 180px;
                    background-image: url(/img/apps/{{application.img}});
                    background-size: cover;
                "></div>
                <h3>{{ application.app_name }}</h3>
            </a>
            <p style="text-align: justify; overflow-wrap: break-word;">{{ application.app_description }}</p>
        </div>
        <div class="panel-footer">
             {{ application.developed_by }} {{ application.submitted }}
        </div>
    </div>
{% endfor %}

</div>
