---
title: Rakendused
layout: default
permalink: /rakendused/
ref: apps
lang: et
---
{% include breadcrumbs.html %}

<h1>Rakendused</h1>
<br>

<div style="
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 20px;
">
    {% assign sortapps = site.applications | sort:"submitted" | reverse %}
    {% for application in sortapps %}
<div
    class="card"
    style="
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    "
>
        <div class="card-body">
        <a href="{{ site.baseurl }}{{ application.url }}">
                       <div style="
                           height: 180px;
                           background-image: url(/img/apps/{{application.img}});
                           background-size: cover;
                           border-radius: .25rm;
                           border: 2px solid #dee2e6;
                       "></div>
                       <h3>{{ application.app_name }}</h3></a>
        <p class="text_control">{{ application.app_description }}</p>
      </div>

    <div class="card-footer text-muted">
          {{ application.developed_by }} {{ application.submitted }}
    </div>
  </div>
{% endfor %}
  </div>
