---
title: Rakendused
layout: default
permalink: /rakendused/
ref: apps
lang: et
---
{% include breadcrumbs.html %}

<h1>Rakendused</h1>
<br>

<div style="
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 20px;
">

    {% assign sortapps = site.applications | sort:"submitted" | reverse %}
    {% for application in sortapps %}
    <div class="card d-flex flex-column justify-content-between">
      <div class="card-img-top">
     <a href="{{ application.app_url }}"><img class="img-thumbnail rounded mx-auto d-block" src="/img/apps/{{application.img}}" alt="Card image cap" ></a>
      </div>
      <h3 class="card-title">{{ application.app_name }}</h3>
      <div class="card-body">
        <p class="card-text" style="text-align: justify; overflow-wrap: break-word;">{{ application.app_description }}</p>
      </div>
      <div class="card-footer text-muted">
        {{ application.developed_by }} {{ application.submitted }}
</div>
    </div>
{% endfor %}

</div>
