---
title: Blogi
layout: default
permalink: /blogi/
ref: blog
lang: et
---
{% include breadcrumbs.html %}
<h1>Blogi</h1>
<br>
<div style="
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 20px;
">
{% assign sortnews = site.blogi | where: "lang", page.lang | sort:"submitted" | reverse %}
{% for blogi in sortnews %}
    <div
        class="card p-4"
        style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        "
    >
        <div class="card-img-top">
            <a href="{{ site.baseurl }}{{ blogi.url }}"><img class="img-thumbnail rounded mx-auto d-block" src="/img/blogi/{{blogi.preview_img}}" alt="blog_preview" ></a>
          <div class="card-title">
            <h4>{{blogi.news_title}}</h4>
          </div>
          <div class="card-body">
          <div class="card-text">
            <p class="text_control">{{ blogi.preview }}<a href="{{ site.baseurl }}{{ blogi.url }}"> Loe lisa... </a></p>
          </div>
          </div>
        </div>
        <div class="card-footer text-muted">
             Lisanud {{ blogi.author }} {{ blogi.submitted | date: "%d/%m/%Y" }}
        </div>
    </div>
{% endfor %}
</div>
