---
title: Blogi
layout: default
permalink: /blogi/
ref: blog
lang: et
---
{% include breadcrumbs.html %}
<h1>Blogi</h1>
<br>
<div style="
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 20px;
">
{% assign sortnews = site.blogi | where: "lang", page.lang | sort:"submitted" | reverse %}
{% for blogi in sortnews %}
    <div
        class="panel panel-default"
        style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        "
    >
        <div class="panel-body">
            <a href="{{ site.baseurl }}{{ blogi.url }}">
                <div style="
                    height: 180px;
                    background-image: url('/img/blogi/{{blogi.preview_img}}');
                    background-size: cover;
                "></div>
            </a>
            <h4>{{blogi.news_title}}</h4>
            <p class="text_control">{{ blogi.preview }}<a href="{{ site.baseurl }}{{ blogi.url }}"> Loe lisa... </a></p>

        </div>
        <div class="panel-footer">
             Lisanud {{ blogi.author }} {{ blogi.submitted | date: "%d/%m/%Y" }}
        </div>
    </div>
{% endfor %}

</div>
