---
title: Blogi
layout: default
permalink: /blogi/
ref: blog
lang: et
---
{% include breadcrumbs.html %}
<h1>Blogi</h1>
<div>
    {% assign sortnews = site.blogi | where: "lang", page.lang | sort:"submitted" | reverse %}
    {% for blogi in sortnews %}
  <div>
        <h3>{{ blogi.news_title }}</h3>
        <p class="text-muted">Lisanud {{ blogi.author }} {{ blogi.submitted | date: "%d/%m/%Y" }}</p>
        <div class="text_control">{{ blogi.preview }}</div>
        <p><a href="{{ site.baseurl }}{{ blogi.url }}"> Loe lisa </a></p>
      </div>
{% endfor %}
</div>
