<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/scripts/dist/bundle.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/scripts/jquery.simplePagination.js"></script>

<!-- <footer style="
    padding: 25px 25px 75px 25px;
    color: #888;
    margin-top: 50px;
"> -->
  <div class="container mt-5" style="display: flex; align-items: flex-start;">
    <div class="row">
      <div class="col-sm-auto">
    <img src="{{ site.baseurl }}/img/erf_logo.jpg" alt="{{ site.alt_tag[page.lang]}}" width="150"/>
    </div>
    <div class="col-sm">
      {% if page.lang %}
      <p style="text-align:justify;">{{ site.footer_description[page.lang] }}</p>
      {% else %}
      <p style="text-align:justify;">{{ site.footer_description.et }}</p>
      {% endif %}
    </div>
    <div class="col-sm-auto">
      <a href="https://github.com/okestonia/jkan" style="padding: inherit;" target="_blank" rel="nofollow" title="OKEE GitHub">
        <i class="fa fa-github fa-3x"></i>
      </a>
      <a href="https://twitter.com/openESTdata" style="padding: inherit;" target="_blank" rel="nofollow" title="OKEE Twitter">
        <i class="fa fa-twitter fa-3x"></i>
      </a>
      <a href="https://www.facebook.com/groups/1792458637715167" style="padding: inherit;" target="_blank" rel="nofollow" title="OKEE Facebook">
        <i class="fa fa-facebook fa-3x"></i>
      </a>
    </div>
  </div>
  </div>

</footer>
