<nav class="navbar navbar-default" data-component="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for link in site.navigation %}
        {% if page.url contains link.url %}
        <li class="active"><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }} <span class="sr-only">(current)</span></a></li>
        {% endif %}
        {% if link.sublinks %}
        <li class="dropdown {{ class }}">
          <a href="{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for sublink in link.sublinks %}
            {% if sublink.title == 'separator' %}
            <li role="separator" class="divider"></li>
            {% else %}
            <li>
              <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
