---
title: business registry
layout: default
lang: et
---
<div data-component="view-switcher">
  <div class="row d-flex" data-hook="view" data-view="display">
    <div class="col-sm-12">
      <h1>
        {{ page.nimi }}
      </h1>
      <p>Äriregisitri kood: {{ page.ariregistri_kood }}</p>
      <p>Aadress: {{ page.ads_normaliseeritud_taisaadress }}</p>
      <p>Postiindeks: {{ page.indeks_ettevotja_aadressis }}</p>
      <p>Teabesüsteemi link: <a href="{{ page.teabesysteemi_link }}" rel = "nofollow">{{ page.teabesysteemi_link }}</a></p>
      <p>Avaliku teabe seadus kohustab teabevaldajaid tegema andmekogudes sisalduvad
        juurdepääsupiiranguta andmed kättesaadavaks avaandmetena. Siin lehel saad esitada
        tellimuse asutuse avaandmete avalikustamiseks. Avaandmete tellimuse vaatab üle ja aitab
        täide viia <a href="https://okee.ee" target ="_blank"> Open Knowledge Estonia</a> koos <a href ="https://www.mkm.ee" rel = "nofollow" target ="_blank">Majandus- ja Kommunikatsiooniministeeriumiga.</a></p>
    </div>
  </div>
  <div class="row d-flex">
    <h2>Esita teabenõue</h2>
    <div class = "col-sm-12">
    <ul class="list-group">
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: üldistav majandusstatistika ja majandusprognoosid" rel = "nofollow" target  ="_blank"  class = "list-group-item">üldistav majandusstatistika ja majandusprognoosid</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: kuritegevuse ja väärtegude üldistava statistika" rel = "nofollow" target  ="_blank"  class = "list-group-item">kuritegevuse ja väärtegude üldistava statistika</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: asutuse põhimäärused" rel = "nofollow" target  ="_blank"  class = "list-group-item">asutuse põhimäärused</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: avalduste ja muude dokumentide vormid ning nende täitmise juhendid" rel = "nofollow" target  ="_blank"  class = "list-group-item">avalduste ja muude dokumentide vormid ning nende täitmise juhendid</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: andmed ohu kohta inimeste elule, tervisele ja varale" rel = "nofollow" target  ="_blank"  class = "list-group-item">andmed ohu kohta inimeste elule, tervisele ja varale</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: asutuste töötulemuste ja ülesannete täitmise aruanded" rel = "nofollow" target  ="_blank"  class = "list-group-item">asutuste töötulemuste ja ülesannete täitmise aruanded</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: tegevusaruanded ja tulude-kulude aruanded" rel = "nofollow" target  ="_blank"  class = "list-group-item">tegevusaruanded ja tulude-kulude aruanded</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: asutuste eelarvete eelnõud ja eelarved ning nende täitmise aruanded" rel = "nofollow" target  ="_blank"  class = "list-group-item">asutuste eelarvete eelnõud ja eelarved ning nende täitmise aruanded</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: andmed riigieelarve tulude laekumise kohta" rel = "nofollow" target  ="_blank"  class = "list-group-item">andmed riigieelarve tulude laekumise kohta</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: andmed keskkonnaseisundi, keskkonnakahjustuste ja ohtlike keskkonnamõjude kohta" rel = "nofollow" target  ="_blank"  class = "list-group-item">andmed keskkonnaseisundi, keskkonnakahjustuste ja ohtlike keskkonnamõjude kohta</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: seaduste ja määruste eelnõud koos seletuskirjadega" rel = "nofollow" target  ="_blank"  class = "list-group-item">seaduste ja määruste eelnõud koos seletuskirjadega</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: määruste eelnõud koos seletuskirjadega enne nende vastuvõtmiseks esitamist" rel = "nofollow" target  ="_blank"  class = "list-group-item">määruste eelnõud koos seletuskirjadega enne nende vastuvõtmiseks esitamist</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: kontseptsioonide, arengukavade, programmide ja muude üldise tähtsusega projektide eelnõud" rel = "nofollow" target  ="_blank"  class = "list-group-item">kontseptsioonide, arengukavade, programmide ja muude üldise tähtsusega projektide eelnõud</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: tellitud uuringud ja analüüsid" rel = "nofollow" target  ="_blank"  class = "list-group-item">tellitud uuringud ja analüüsid</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: andmed asutuse täitmata ametikohtade kohta" rel = "nofollow" target  ="_blank"  class = "list-group-item">andmed asutuse täitmata ametikohtade kohta</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: andmed teostatavate ja teostatud riigihangete kohta" rel = "nofollow" target  ="_blank"  class = "list-group-item">andmed teostatavate ja teostatud riigihangete kohta</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: andmed vara ja eelarveraha kasutamise kohta" rel = "nofollow" target  ="_blank"  class = "list-group-item">andmed vara ja eelarveraha kasutamise kohta</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: avalike ürituste kavad" rel = "nofollow" target  ="_blank"  class = "list-group-item">avalike ürituste kavad</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: muudatused asutuse töös ja ülesannetes, mis on seotud isikute teenindamisega" rel = "nofollow" target  ="_blank"  class = "list-group-item">muudatused asutuse töös ja ülesannetes, mis on seotud isikute teenindamisega</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: andmed asutuse juhtide vastuvõtuaegade kohta" rel = "nofollow" target  ="_blank"  class = "list-group-item">andmed asutuse juhtide vastuvõtuaegade kohta</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: andmed kaubaturul valitsevas seisundis olevate, eri- või ainuõigust või loomulikku monopoli omavate äriühingute hinnakujunduse kohta" rel = "nofollow" target  ="_blank"  class = "list-group-item">andmed kaubaturul valitsevas seisundis olevate, eri- või ainuõigust või loomulikku monopoli omavate äriühingute hinnakujunduse kohta</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: andmed üldkasutatavate teenuste osutamise kohta" rel = "nofollow" target  ="_blank"  class = "list-group-item">andmed üldkasutatavate teenuste osutamise kohta</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: asutuse dokumendiregistri avalikud dokumendid" rel = "nofollow" target  ="_blank"  class = "list-group-item">asutuse dokumendiregistri avalikud dokumendid</a>
  <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: muud avaandmed" rel = "nofollow" target  ="_blank"  class = "list-group-item">muud avaandmed</a>
    </ul>
    </div>
  </div>
</div>
