---
title: business registry
layout: default
lang: et
---
<div data-component="view-switcher">
  <div class="row d-flex" data-hook="view" data-view="display">
    <div class="col-sm-12">
      <h1>
        {{ page.nimi }}
      </h1>
      <p>Äriregisitri kood: {{ page.ariregistri_kood }}</p>
      <p>Aadress: {{ page.ads_normaliseeritud_taisaadress }}</p>
      <p>Postiindeks: {{ page.indeks_ettevotja_aadressis }}</p>
      <p>Teabesüsteemi link: <p><a href="{{ page.teabesysteemi_link }}" rel="nofollow">{{ page.teabesysteemi_link }}</a></p>

      <p>Avaliku teabe seadus kohustab teabevaldajaid tegema andmekogudes sisalduvad
        juurdepääsupiiranguta andmed kättesaadavaks avaandmetena. Siin lehel saad esitada
        tellimuse asutuse avaandmete avalikustamiseks. Avaandmete tellimuse vaatab üle ja aitab
        täide viia <p><a href="https://okee.ee" target="_blank"> Open Knowledge Estonia</a></p> koos <p><a href="https://www.mkm.ee" rel="nofollow" target="_blank">Majandus- ja Kommunikatsiooniministeeriumiga.</a></p>

    </div>
  </div>
  <div class="row d-flex">
    <h2>Esita teabenõue</h2>
    <div class="col-sm-12">
      <p>Põhimäärus määrab riigi ja kohalike omavalitsuse allüksuse sisemise korralduse. Nt kirjeldab see asutuse tegevuse põhieesmärgi ja ülesanded. Samuti on põhimääruses sätestatud kes valib ja vabastab asutuse juhataja või juhatuse,
        organisatsioon struktuur, finantseerimise alused, kuidas teostatakse järelvalvet jms. <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: asutuse põhimäärused" rel="nofollow" target="_blank"
          ">Telli asutuse põhimäärus!</a></p>
      <p>Avalike teenuste pakkumise lihtsustamiseks on asutused teinud üldjuhul oma avalduste jm dokumentide vormid kättesaadavaks asutuse veebilehel. Samas tehakse üha rohkem vorme tehakse kättesaadaks ka eesti.ee kodanikuportaalis. Juhul kui pole
        seda teinud või tema vormid pole leitavad, siis saad sellest märku anda siin.
        <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: avalduste ja muude dokumentide vormid ning nende täitmise juhendid" rel="nofollow" target="_blank" ">Telli
          asutuse avalduste ja muude dokumentide vormid ning nende täitmise juhendid!</a></p>
      <p>Selleks, et tagada avaliku sektori läbipaistvus, avaldavad asutused oma töötulemuste ja ülesannete täitmise aruanded veebis. Aruannete liigid ja sisu sõltub asutuste ülesannetest ja varieerub. Näited enamlevinud aruannetest on sisehindamise
        aruanne, tegevuskava täitmise aruanne, majandusaasta aruanne, muud tulude-kulude aruanded jne.
        <a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: asutuste töötulemuste ja ülesannete täitmise aruanded" rel="nofollow" target="_blank" ">Telli asutuse aruanded!</a></p>
        <p>Asutuse eelarved ja nende täitmine on avalik teave ja peab olema kättesaadav. Samuti andmed vara ja eelarveraha kasutamise kohta.
<a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: asutuste eelarvete eelnõud ja eelarved ning nende täitmise aruanded" rel="nofollow" target="_blank" ">Telli asutuse eelarved ja nende täitmise aruanded!</a></p>
<p>Asutused avalikustavad enda poolt tellitud uuringud ja analüüsid oma veebilehel. Levinud on näiteks klientide rahuloluuuringud, mis annavad tagasidet pakutud teenuste kvaliteedi kohta. Kui asutuse veebis uuringud ja analüüse ei olnud välja toodud, siis saab neid küsida siit.
<a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: tellitud uuringud ja analüüsid" rel="nofollow" target="_blank" ">Telli asutuse poolt tellitud uuringud ja analüüsid!</a></p>
<p>Soovid kandideerida asutuse vabadele ametikohtadele, kuid ei leia nende kohta teavet?
<a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: andmed asutuse täitmata ametikohtade kohta" rel="nofollow" target="_blank" ">Telli teave asutuse täitmata ametikohtade kohta
!</a></p>
<p>Eestis on kehtestatud riigihangete tegemise kord, riigihankega seotud isikute õigused ja kohustused, riiklik järelevalve ja vaidluste lahendamise kord ning vastutus Riigihangete seadusega. Üldiselt on teave riigihangete kohta avalik ning nende andmete väljastamine ja avalikustamine toimub avaliku teabe seaduses sätestatud korras.
<a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: andmed teostatavate ja teostatud riigihangete kohta" rel="nofollow" target="_blank" ">Telli teave asutuse teostatavate ja teostatud riigihangete kohta
!</a></p>
<p>Avalikud üritused on näiteks koolide avaaktused ja lõpuaktused, avalikus kohas toimuvad ja avalikkusele avatud lõbustusüritused, võistlused, etendused, kaubandusüritused või muu. Kui teavet asutuse avalike ürituste kohta asutuse veebis polnud, siis seda saad tellida siit.
<a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: avalike ürituste kavad" rel="nofollow" target="_blank" ">Telli asutuse avalikud üritused!</a></p>
<p>Ei leidnud asutuse veebilehelt juhi vastuvõtuaega või ei saanud temaga muul moel kontakti?
<a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: andmed asutuse juhtide vastuvõtuaegade kohta" rel="nofollow" target="_blank" ">Broneeri vastuvõtuaeg asutuse juhi juurde
!</a></p>
<p>Otsisid asutuse dokumendiregistri avalikku dokumenti, a'la käskkiri, väljaminev kiri, leping, korraldus, ja ei leidnud?<a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: asutuse dokumendiregistri avalikud dokumendid" rel="nofollow" target="_blank" ">Nõua ligipääsu asutuse dokumendiregistri avalikele dokumentidele!</a></p>
      <p>Tead muudest asutuse avaandmetest, mis peaks olema avatud? Nt asutuse kontaktid (aadress, postiindeks / sihtnumber, telefoninumber, e-postiaadress, ...) , mõne huvitava registri või infosüsteemi andmed jms?
<a href="https://github.com/okestonia/opendata-issue-tracker/issues/new?title={{ page.nimi }}--teabenõue: muud avaandmed" rel="nofollow" target="_blank" ">Anna teada asutuse avaandmetest!</a></p>

    </div>
  </div>
</div>
